header {font-size: 200%}



h2 { border: 5px white solid;
	height: 30px;
	width:200px;
	float: left;
	padding: 20px;
	margin: 50px 50px;
	margin-left: 220px;
	align-content: center;
	color: white;
	}
h2:hover {	background-color: white;
	color: black;
	cursor: pointer;
	}

#div3 { clear: both; } 